@model Baitap1.Models.PhanQuyen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhanQuyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.id_nhanvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuaHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuaHang.id_cuahang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.id_sanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamThang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamThang.id_namthang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_phanquyen">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
